.autocomplete-suggestions {
    background: #F4F4F4;
    border: 1px solid #e4e4e4;
    cursor: default;
    overflow: auto;
}
.autocomplete-suggestion {
    font-size: 1.2em;
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
}
.autocomplete-selected {
    background: #f0f0f0;
}
.autocomplete-suggestions strong {
    color: #3399ff;
    font-weight: bolder;
}
