.container.body {
    max-width: none;
}

.nav-sm {
    .container.body {
        .col-md-3.left_col {
            min-height: 100%;
            width: 70px;
            padding: 0;
            z-index: 9999;
            position: absolute;

            &.menu_fixed {
                position: fixed;
                height: 100%;
            }

            .mCSB_container,
            .mCustomScrollBox {
                overflow: visible;
            }
        }

        .right_col {
            padding: 10px 20px;
            margin-left: 70px;
            z-index: 2;
        }
    }

    .hidden-small {
        visibility: hidden;
    }

    .navbar.nav_title {
        width: 70px;

        a {
            span {
                display: none;
            }

            i {
                font-size: 27px;
                margin: 13px 0 0 3px;
            }
        }
    }

    .main_container .top_nav {
        display: block;
        margin-left: 70px;
        z-index: 2;
    }

    .nav.side-menu {
        & > li > a {
            text-align: center !important;
            font-weight: 400;
            font-size: 10px;
            padding: 10px 5px;

            i {
                font-size: 25px !important;
                text-align: center;
                width: 100% !important;
                margin-bottom: 5px;

                &.toggle-up {
                    display: none !important;
                }
            }
        }

        & > .active-sm > a {
            color: $color-green-base !important;
        }
    }

    .nav.child_menu .active,
    .nav.side-menu .active-sm {
        border-right: 5px solid $color-green-base;
    }

    .nav.child_menu ul,
    .nav.side-menu .active-sm ul ul {
        position: static;
        width: 200px;
        background: none;
    }

    .nav.child_menu {
        left: 100%;
        position: absolute;
        top: 0;
        width: 210px;
        z-index: 4000;
        background: #3E5367;
        display: none;

        li {
            padding: 0 10px;

            a {
                text-align: left !important;
            }
        }
    }

    .profile {
        display: none;
    }

    .menu_section {
        margin: 0;
    }

    span.fa,
    .menu_section h3 {
        display: none;
    }

    li li span.fa {
        display: inline-block;
    }
}

.nav-md {
    .container.body {
        .col-md-3.left_col {
            min-height: 100%;
            width: 230px;
            padding: 0;
            position: absolute;
            display: flex;
            z-index: 1;

            &.menu_fixed {
                height: 100%;
                position: fixed;
            }
        }

        .right_col {
            padding: 10px 20px 0;
            margin-left: 230px;
        }
    }
}

@media (max-width: 991px) {
    .nav-md {
        .container.body {
            .right_col,
            .top_nav {
                width: 100%;
                margin: 0;
            }

            .col-md-3.left_col {
                display: none;
            }

            .right_col {
                width: 100%;
                padding-right: 0;
            }
        }
    }

    .right_col {
        padding: 10px !important;
    }
}

body .container.body .right_col {
    background: #F7F7F7;
}

.container {
    width: 100%;
    padding: 0
}
body {
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
.main_container .top_nav {
    display: block;
    margin-left: 230px;
}
.main_container {}
.no-padding {
    padding: 0 !important;
}
.left_col {
    background: #2A3F54;
}

.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%;
}

.menu_section {
    margin-bottom: 35px;
}

.menu_section h3 {
    padding-left: 23px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
}
.menu_section >ul {
    margin-top: 10px;
}
.main_menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
}
.left_col .mCSB_scrollTools {
    width: 6px;
}
.left_col .mCSB_dragger {
    max-height: 400px !important;
}
.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0;
}
.page-title .title_left {
    width: 45%;
    float: left;
    display: block;
}
.page-title .title_left h3 {
    margin: 9px 0;
}
.page-title .title_right {
    width: 55%;
    float: left;
    display: block;
}
.page-title .title_right .pull-right {
    margin: 10px 0;
}
.fixed_height_320 {
    height: 320px;
}
.fixed_height_390 {
    height: 390px;
}
.fixed_height_200 {
    height: 200px;
}
.overflow_hidden {
    overflow: hidden
}
.main_content {
    padding: 10px 20px;
}
.col-md-55 {
    width: 50%;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .col-md-55 {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .col-md-55 {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-md-55 {
        width: 20%;
    }
}
.center-margin {
    margin: 0 auto;
    float: none!important;
}
.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: #5A738E;
    text-decoration: none;
}
a,
a:visited,
a:focus,
a:active,
:visited,
:focus,
:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
}
a:hover,
a:focus {
    text-decoration: none
}
.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
}
.site_title:hover, .site_title:focus {
    text-decoration: none
}
footer {
    background: #fff;
    padding: 15px 20px;
    display: block;
}

.nav-sm footer {
    margin-left: 70px ;
}
.footer_fixed footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
@media (min-width: 768px) {
    .footer_fixed footer {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .footer_fixed .nav-sm footer {
        margin-left: 0;
    }
}
