#nprogress .bar {
    background: $color-green-base;
}

#nprogress .peg {
    box-shadow: 0 0 10px $color-green-base, 0 0 5px $color-green-base;
}

#nprogress .spinner-icon {
    border-top-color: $color-green-base;
    border-left-color: $color-green-base;
}
