$color-blue-base: #3498db;
$color-bluesky-base: #50c1cf;
$color-purple-base: #9b59b6;
$color-green-base: #1abb9c;
$color-aero-base: #9cc2cb;
$color-red-base: #e74c3c;
$color-dark-base: #34495e;
$color-orange-base: #f39c12;
